.trip-card {
  width: 300px;
  border: 2px solid cadetblue;
  background-color: floralwhite;  
  margin: 40px;
}

.trip-card ul {
  list-style: none;
}

.new-trip {
  font-size: small;
  text-align: center;
  border-bottom: solid cadetblue;
  margin: 10px
}

.submit-new {
  font-family: inherit;
  margin: 5px;
}

.submit-new input {
  margin: 5px;
  display: inline-flex;
  padding: 2px;
  font-family: inherit;
}

.submit-new label {
  margin: 5px;
  font-size: 14px;
  font-family: inherit;
}

.submit-new select {
  margin: 5px;
  display: inline-flex;
  padding: 2px;
  font-family: inherit;
}

.button {
  background-color: cadetblue;
  color: #f2f2f2;
}